@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --retro-red: #f02323;
  --retro-gray: #383838;
  --retro-black: #141414;
  --retro-white: #f0f0f0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --retro-red: #e90000;
    --retro-gray: #383838;
    --retro-black: #141414;
    --retro-white: #f0f0f0;
  }
} */

body {
  background-color: var(--retro-black);
  color: var(--retro-white);
  font-family: "Courier New", Courier, monospace;
}
